* {
  font-family: 'Roboto', sans-serif;
}

body {
  margin: 0;
}

footer {
  padding-left: 1em;
  position: fixed;
  bottom: 1.5%;
  color: black;
}

nav {
  flex-direction: row;
}

h1 {
  font-size: 1.6em;
  font-weight: bold;
  float: left;
  color: white;
  padding-bottom: 0.3em;
}

.flex {
  display: flex;
}

header {
  top: 0;
  position: sticky;
  height: 10vh;
  justify-content: space-between;
  padding: 0.3em 1.2em;
  background-color: #253237;
  align-items: center;
}

#setting {
  float: right;
}