@keyframes fade-in {
  from {
    opacity: 0.7;
  }

  to {
    opacity: 1;
  }
}

footer {
  padding-left: 1em;
  position: fixed;
  bottom: 1.5%;
  color: black;
}

.hidden {
  display: none;
}

.container {
  justify-content: flex-start;
  flex-wrap: wrap;
}

.card {
  width: 15rem;
  height: 10rem;
  margin: 1rem;
  animation: fade-in 0.8s ease-in;
}

.card:hover {
  cursor: pointer;
}

body {
  margin-bottom: 3vh;
}

nav {
  min-height: 4rem;
}

#address {
  position: sticky;
  /* top: 3rem; */
  z-index: 1;
}

section {
  height: 80vh;
  width: 100%;
}

.dropdown-menu-right {
  right: 0;
  left: auto;
  min-width: 30vw;
}