@keyframes fade-in {
  from {
    opacity: 0.7;
  }

  to {
    opacity: 1;
  }
}

footer {
  font-size: 0.9em;
  padding-left: 1em;
  position: fixed;
  bottom: 1.5%;
  color: black;
}

main {
  height: unset;
}

h1 {
  margin: 0;
}

.hidden {
  display: none;
}

.container {
  justify-content: flex-start;
  flex-wrap: wrap;
}

.card {
  width: 15rem;
  height: 10rem;
  margin: 1rem;
  animation: fade-in 0.8s ease-in;
}

.card:hover {
  cursor: pointer;
}

.dropdown-menu-right {
  right: 0;
  left: auto;
  min-width: 30vw;
}

.active {
  cursor: pointer;
}

.dropdown {
  z-index: 1031;
}

#upd-result {
  margin-left: 1em;
  font-weight: bold;
  color: red;
}
